/* line 4, ../sass/case-detail.scss */
section {
  padding: 100px 60px;
  height: 100vh;
}

/* line 9, ../sass/case-detail.scss */
section.intro {
  height: 2300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 0 60px;
}
/* line 17, ../sass/case-detail.scss */
section.intro .container {
  display: block;
  position: relative;
  height: 100%;
}
/* line 24, ../sass/case-detail.scss */
section.intro .container .row {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 31, ../sass/case-detail.scss */
section.intro .container h1, section.intro .container p {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
}
/* line 36, ../sass/case-detail.scss */
section.intro .container h1 {
  text-indent: -10000px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom left;
}
