@import "compass/css3/transform";
@import "compass/css3"; 





body.single-clients{
	section{
		
		
		
		position: relative;

		&.image{
			background-size: cover;
			background-position: center center;
			min-height: 600px;
		}

		img{
			&.size-full{
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}

		.container{
			
		}

		&.intro{
			
			background-repeat: no-repeat; 
			background-size: cover;
			background-position: top center;
			height: 70vh;

			
			

			.container{
				max-width: 100%;
				
				display: block;
				position: relative;
				padding: 0 60px;
				height: 100%;

				@media only screen and(max-width: 768px){
					min-height: auto;
					padding: 200px 60px;
				}
				
				.row{
					position: absolute;
					
					top: 50%;
					@include transform(translateY(-50%));
				}

				h1, p{
					margin-bottom: 20px;
					color: rgba(255,255,255,.5);
				}

				p{
					margin-top: 20px;
				}

				.logo{
					
					height: 60px;
					background-size: auto 100%;
					overflow: hidden;
					background-repeat: no-repeat;
					background-position: bottom left;
				}
			}

			@media only screen and (min-width: 1920px){
				background-size: cover;
				
			}

			@media only screen and (max-width: 600px){
				
				padding: 300px 20px;
				height: auto!important;

				.container{
					padding: 0 20px;
				}
			}

		}


	}

	.header .logo{
		

	}

	&.menu-active{
		.header .logo{
			opacity: 1;
			@include transition(.2s all ease-in-out);
			@include transition-delay(.3s);
		}
	}

	.card{
		min-height: 330px;

		@media only screen and (min-width:1920px){
		min-height: 450px;		
		}

		@media only screen and (max-width:980px){
		min-height: 400px;		
		}

		@media only screen and (max-width:750px){
		min-height: 330px;		
		}

		@media only screen and (max-width:500px){
		min-height: 400px;		
		}
		
		p{
			margin: 0;
		}

		br{
			display: none;
		}

		.btn{
			
			width: 100%;
			position: absolute;
			bottom: 20px;
			left: 0;
		}
		

		.card-body{
			position: relative;
		    display: flex;
		    height: 100%;
		    padding: 20px 0 0 0;
		    margin: 0 20px;
		}

		.card-title{
			display: inline-block;
			
			margin: 0px 0 0 0;
		}
	}

}


body.postid-91{
	.Group.Profiles.Cover{
		height: 100vh;
	}	

	section{
		&.intro{
			background-color: #00378B;
			@media only screen and (max-width:768px){
				background-position: center 270px;
			}

		}
	}	
}
