@import "fonts";
@import "compass/css3/transform";
@import "compass/css3";

//Colors


body{
position: relative;	
}



body.disable{
	overflow: hidden;
}

strong{
	font-weight: bold;
}

html{
	font-size: 16px;
	font-family: $metaserif;
}

h1, h2, h3, h4, h5, h6, p{
	
}

h1{
 font-size: 7.5rem;	
 font-family: $tungsten;
 text-transform: uppercase;

}

h2{
font-size: 2.75rem;	
font-family: $futura;
}

h3{
font-size: 2rem;
font-family: $futura;
}

h4{
font-size: 2.875rem;	
font-family: $tungsten;
letter-spacing: 1rem;
text-transform: uppercase;

}

h5{
	font-size: 1.5rem;
	letter-spacing: .5rem;
	font-family: $tungsten;
}

h6{
	font-size: 1.5rem;	
	font-family: $futura;
}


p{
	font-size: 1rem;
	font-family: $metaserif;
	line-height: 1.4rem;	
}

ul, li{
	
}

ul li{
	
}

a{
	

	&:hover{
		text-decoration: underline;
		
	}
}

section{
	padding:0 60px;
}

a.btn, button.btn{

	
}

