@import "fonts";
@import "compass/css3/transform";
@import "compass/css3";

//Colors


//Primary Orange
$primary-orange-1: #E05113;
$primary-orange-2: #C34510;
$primary-orange-3: #FCECE5;

//Primary Black
$primary-black-1: #30313B;
$primary-black-2: #5C5D6D;
$primary-black-3: #EEF3F6;

//Primary White
$primary-white-1: #ffffff;

//Secondary Green
$secondary-green-1: #409C94;
$secondary-green-2: #34817A;
$secondary-green-3: #C5E1DE;

//Secondary Purple
$secondary-purple-1: #6066A3;
$secondary-purple-2: #454B80;
$secondary-purple-3: #999DC6;

//Secondary Grey
$secondary-grey-1: #CBCBCB;
$secondary-grey-2: #E5E5E5;
$secondary-grey-3: #F1F1F1;

$sm-duration: .2s all ease-in-out;
$lng-duration: .4s all ease-in-out;


body{
position: relative;	
}



body.disable{
	overflow: hidden;
}

strong{
	font-weight: bold;
}

html{
	font-size: 16px;
	font-family: $metaserif;
}

@media only screen and (max-width: 360px){
	html{
		font-size: 12px;
	}
}

@media only screen and (min-width: 1920px){
	html{
		font-size: 18px;
	}
}

h1, h2, h3, h4, h5, h6, p{
	display: block;
}

h1{
 font-size: 5rem;	
 font-family: $bodoni;
 

}

h2{
font-size: 2.75rem;	
font-family: $bodoni;

}

h3{
font-size: 2.5rem;
font-family: $bodoni;
}

h4{
font-size: 1rem;	
font-family: $futura;
text-transform: uppercase;



}

h5{
	font-size: 1rem;
	
	font-family: $futura;
}

h6{
	font-size: .75rem;	
	font-family: $futura;

}


p{
	font-size: 1rem;
	font-family: $metaserif;
	line-height: 1.4rem;	
}

ul, li{
	
}

ul li{
	
}

a{
	

	&:hover{
		text-decoration: underline;
		
	}
}

section{
	padding:0 60px;
}

a.btn, button.btn{

	
}



.wrapper{
	overflow: hidden;
}


a.btn-primary, button.btn-primary{
	font-family: $futura;
	border: none;
	font-size: .5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: $primary-orange-1;
	@include transition($sm-duration);
	padding: 12px 20px;
	@include border-radius(2px);

	&:hover{
		background-color: $primary-orange-2;
		@include transition($sm-duration);
	}
}

a.btn-secondary, button.btn-secondary{
	font-family: $futura;
	border: none;
	font-size: .5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: $primary-black-1;
	@include transition($sm-duration);
	padding: 12px 20px;
	@include border-radius(2px);

	&:hover{
		background-color: $primary-black-2;
		@include transition($sm-duration);
	}
}

section.page-section{
	padding: 120px 0;

	img{
		height: auto;
		width: 100%;
	}
}

section.white{
	color: white;
	h1, h2, h3, h4, h5, h6{

	}

	p{
		color: rgba(255,255,255,.5);
	}

	.card{
		color: rgba(0,0,0,1);
		h1, h2, h3, h4, h5, h6{

		}

		p{
			color: rgba(0,0,0,1);
		}
	}

}

section:nth-child(1){
	padding-top: 250px;
}




